@import 'tailwindcss';

@layer base {
  html {
    font-family: sans-serif;
    /* color: #333; */
  }
  ::-webkit-scrollbar {
    width: 7px;
  }

  ::-webkit-scrollbar-button {
    background: transparent;

    border-radius: 4px;
  }

  ::-webkit-scrollbar-track-piece {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 4px;

    background-color: rgba(0, 0, 0, 0.4);

    border: 1px solid slategrey;
  }

  ::-webkit-scrollbar-track {
    box-shadow: transparent;
  }
}

@layer components {
  .line-base-set {
    @apply tracking-wider text-justify leading-7;
  }
  .flex-center {
    @apply flex items-center justify-center;
  }
}
